<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= @title %> - <%= @subtitle %></title>
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <h1><a href ="/"><%= @title %></a></h1>
  <%= yield %>
</body>
</html>