body, html {
  // set some basic style
  width: 600px;
  margin: 0 auto;
  background-color: #498274;
  font-family: sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px 8px;
  border-bottom: 2px solid black;
}

td {
  padding: 8px;
}
tbody {
  tr:hover {
    td {
      background-color:#C8F1F7;
    }
  }
}

th+th {
  border-left: 2px solid black;
}

td+td {
  border-left: 2px solid black;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #823046;
}
a:hover {
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
  a:hover {
    text-decoration: none;
  }
}
.extra-hot {
  .pin-title {
    color: #ff0020;
  }
}
blockquote {
  margin: 0 20px;
  padding: 0 0 0 10px;
  border-left: 3px solid #498274;
}

hr {
  padding: 0;
  border: none;
  border-top: medium double #333;
}
.post_body {
  img {
    width: 90%;
  }
}
pre, code {
  // make code blocks look ok
  background-color: pink;
  border-radius: 5px;
  padding: 2px;
  overflow: auto;
}
small {
  font-size: 60%;
}
ul {
  list-style: circle;
  margin-left: 0;
  padding-left: 15px;
}
h1 {
  margin: 0;
}
#container {
  // a little buffer on top and bottom
  margin: 25px 0;
  background-color: white;
  padding: 25px;
}
#author {
  font-size: 80%;
}
#date {
  background-color: gray;
  color: white;
  padding: 2px;
}
.pages_list {
  ul {
    list-style: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
}
#searchbox {
  margin-top: 25px;
}
.badge {
  // for the tag/category count parens... could style... but dont know how to go about it
}
.vimeo {
//  width: 100%;
}
.footnotes {
  display: none;
}
.post_body {
  hr {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    color: black;
    &:after {
      //use hex value for unicode characters and escape with a leading slash
      //here's a good list: http://www.danshort.com/HTMLentities/index.php?w=dingb
      //the first example, scissors mid-cut, has this decimal value: `&#9985;`
      //and this hex value: `&#x2701;` so we'd pull out `\2701`
      //for a space, put: `\a0 ` (note the trailing space)
      //http://stackoverflow.com/questions/190396/adding-html-entities-using-css-content
      content: "\273F\a0 \273F\a0 \273F";
      position: relative;
      top: -0.5em;
    }
  }
}
.meta {
  background-color: #E0E0E0;
  padding: 0 3px;
  border-radius: 2px;
}

@media only screen and (max-width: 600px) {
  body, html {
    // take up most of the width of the page
    width: 99%;
  }
  h1, h2 { overflow: auto;}
  #container {
    //not working??
    padding: 10px;
  }
  #searchbox { input { width: 90%; } }
}
