body, html {
  // set some basic style
  width: 600px;
  margin: 0 auto;
  background-color: #498274;
  font-family: sans-serif;
  a {
    text-decoration: none;
    font-weight: bold;
    color: #823046;
  }
  a:hover {
    text-decoration: underline;
  }
  hr {
      padding: 0;
      border: none;
      border-top: medium double #333;
      color: #333;
  }
  pre, code {
    // make code blocks look ok
    background-color: pink;
    border-radius: 5px;
    padding: 2px;
    overflow: auto;
  }
  small {
    font-size: 60%;
  }
  ul {
    list-style: circle;
  }
}

#container {
  h1 {
    margin: 0;
  }
  // a little buffer on top and bottom
  margin: 25px 0;
  background-color: white;
  padding: 25px;
  #author {
    font-size: 80%;
  }
  #date {
    background-color: gray;
    color: white;
    padding: 2px;
  }
}

#pages_list {
  li {
    display: inline;
    list-style-type: none;
    margin-right: 10px;
  }
  a {
    padding: 2px;
  }
  a:hover {
    border-radius: 2px;
  }
}

#searchbox {
  margin-top: 25px;
}

#pagelinks {
  //is this targeting anything?
  list-style: none;
  li {
    display: inline;
    padding-right: 5px;
  }
}

.badge {
  // for the tag/category count parens... could style... but dont know how to go about it
}

.vimeo {
//  width: 100%;
}
img {
  width: 100%;
  margin: 20px 0;
}

@media only screen and (max-width: 600px) {
  body, html {
    // take up most of the width of the page
    width: 97%;
  }
  #container {
    padding: 10px;
  }
}
